/*
@Author Dan Aves
Created on 16/03/20
 */
* {
    dark-primary-color: #1976D2;
    default-primary-color: #2196F3;
    light-primary-color: #BBDEFB;
    text-primary-color: #FFFFFF;
    accent-color: #9E9E9E;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;

}

.root {
    -fx-background-color: #5CDB95;
}

.button{
    -fx-background-color: light-primary-color;
    -fx-background-radius: 10;
}
.button:hover{
    -fx-background-color: #4CAF50;
    -fx-color: white;
}

.button2{
    -fx-background-color: #05386B;
}
.textField{
    -fx-background-color: #EDF5E1;
}

.border{
    -fx-border-color: #7d7d7d;
}

.check-box{
}
.check-box .box{
    -fx-background-color: #EDF5E1;
    -fx-font-size:20;

}

.text-area .content{
    -fx-background-color: #e0e0e0;

}

